.chart-card {
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  background: rgba(248, 243, 243, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(79, 172, 254, 0.1);

  transition: all 0.3s ease;
  box-sizing: border-box;
  
  border: 3px solid blue;
}

.chart-card:hover {
  transform: translateY(-4px);
  box-shadow:
    0 25px 60px rgba(0, 0, 0, 0.4),
    0 0 60px rgba(79, 172, 254, 0.2);
}

.chart-title {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
}

.chart-container {
  width: 100%;
  height: 500px;
  position: relative;
  border: 2px solid red;
  box-sizing: border-box;
}

