.chart-card {
  position: relative;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  display: flex;
  overflow: visible;
  flex-direction: column;
  background: rgba(59, 59, 83, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(79, 172, 254, 0.1);
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.chart-card:hover {
  transform: translateY(-4px);
  box-shadow:
    0 25px 60px rgba(199, 188, 188, 0.4),
    0 0 60px rgba(200, 224, 244, 0.2);
}

.chart-title {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
}

.chart-container {
  width: 100%;
  height: 200px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
  box-sizing: border-box;
  overflow-x: auto; 
  min-width: 0;
}


.react-calendar-heatmap {
  width: 100%; 
  max-width: 100%; 
}

.react-calendar-heatmap text {
  fill: #ccc; 
  font-size: 10px;
}

.react-calendar-heatmap .react-calendar-heatmap-month-labels {
  fill: #ddd;
}

.color-empty {
  fill: #2a2a3a; /* Dark gray for no data */
}

.color-scale-0 {
  fill: #ff512f; /* All missed: Red */
}

.color-scale-1 {
  fill: #dd2476; /* Mostly missed: Pinkish red */
}

.color-scale-2 {
  fill: #ff9e64; /* Half: Orange */
}

.color-scale-3 {
  fill: #00fecf; /* Mostly completed: Teal */
}

.color-scale-4 {
  fill: #4bde86; /* All completed: Green */
}
