@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* App background + layout */
.app {
  min-height: 100vh;
  background-color: #f3f4f6; /* light gray */
  padding-bottom: 3rem;
  padding: 1.2rem;
}

/* App title */
.app-title {
  text-align: center;
  margin: 2rem 0 1.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: #111827;
  letter-spacing: -0.5px;
}
